# System files
.DS_Store
Thumbs.db

# AI assistant local files
.vscode/
.agents/
.claude/
.github/
.opencode/
.gemini
.trae
.ai/*
CLAUDE.md
AGENTS.md s
.mcp.json
cursor

# Project-specific
.airchetipo/*
docs/*
!docs/index.htm


# Skill tester related files/folder
skills/*-workspace
evals.json
